<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wingsOfHope.minos.mapper.SubjectMapper">
	
	<resultMap type="Subject" id="subjectResultMap">
		<id column="subject_id" property="id" />
		<result column="name" property="name" />
		<result column="teacher_id" property="teacherId"/>
		<association property="teacher" javaType="Teacher">
			<id column="teacher_id" property="id"/>
			<result column="t.name" property="name"/>
		</association>
	</resultMap>
	
</mapper>